:root {
    --main-color: rgb(245, 245, 245);
    --accent-color: rgb(224, 224, 224);
  }

  #all-content {
    display: none;
  }

  #loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

header {
    width: 100%;
    position: relative;
    z-index: 0;
    background-color: var(--main-color);
    height: 64px;
  }

header .activator-menu {
  font-size: 30px;
  cursor: pointer;
  margin: 0 30px;
}

header .title {
  font-size: 30px;
  cursor: pointer;
}

  header .search-box {
    float: right;  
    clear: right;
    margin: 10px 100px 0 0;
  }

  header .search-box input[type=text] {
    padding: 10px 5px;
    border-radius: 0px 8px 8px 2px;
    border: 1px solid #333;
    border-left: none;
    margin-left: 0;
    color: #333;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  header .search-box input[type=text]:focus {
    border-radius: 8px 0 0 8px;
    border-color: #cc6600;
    width: 300px;
  }
  
  header .search-box button[type=button] + input[type=text] {
    color: rgb(255, 255, 255);
    padding: 2px 8px;
    margin-left: -5px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #333;
    border-left: none;
  }
  
  header .search-box button[type=button] + input[type=text]:focus {
    border-color: #cc6600;
  }

  header .fa-stack  {
    float: right;  
    clear: right;
    margin: -30px 20px 50px 50px;
  }
  
  nav {
    width: 350px;
    border-right: 1px solid #333;
}
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
  }

nav li {
    float: left;
    display: block;
    width: 100%;
}

nav li > a {
    display: block;
    color: gray;
    text-align: left;
    padding: 16px 32px;
    text-decoration: none;
}
nav li > a:hover{
background-color: lightblue;
}
#nav-header{
    background-color: var(--accent-color);
    height: 100px;
    display: flex;
    padding-left: 10px;
}
#nav-header h2{
    color: white;
    float: right;
    flex: 2;
    margin: auto;
    margin-left: 16px
}
#nav-header div{
    float: right;
    flex: 1;
    margin: auto;
}
#nav-header > img{
    margin: auto;
}
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

  .page-content {
    float: left;
    flex: 1;
    padding: 16px
}

  .page-content .breadcrumb {
    padding: 14px 16px;
    border-radius: 5px;
    max-width: 250px;
    
  }

  .page-content ul.breadcrumb {
    list-style: none;
    background-color: rgb(245, 245, 245);
}

.page-content ul.breadcrumb li {
    display: inline;
    font-size: 20px;
}

.page-content ul.breadcrumb li+li:before {
    padding: 5px;
    color: gray;
    content: "/\00a0";
}

.page-content ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
.page-content ul.breadcrumb li a:hover {
    color: #0275d8;
    text-decoration: underline;
}
#content{
    flex: 1;
    display: flex;
}
#content section{
    flex: 1;
}
.books-info{
    border: 1px solid var(--accent-color);
    border-radius: 5px
}
.books-info h2{
    background-color: var(--main-color);
}
.books-info img{
    margin: 16px 32px;
}

.books-content {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.books-content .book {
    border: 1px solid #333;
    border-radius: 5px;
    width: 250px;
}

.books-content .book .title-book {
    background-color: var(--main-color);
    border-bottom: 1px solid #333;
    background-color: var(--accent-color);
    font-size: 30px;
    color: white;
}


.books-content .book .img-book {
    text-align: center;
}

.books-content .book .img-book > img {
    width: 200px;
    height: 200px;
}

.books-content .book .title-book {
    text-align: justify;
    text-justify: inter-word;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 10px;
}

.books-content .book .content-book {
    text-align: justify;
    text-justify: inter-word;
    padding: 10px 10px;
}

.books-content .book .footer-book {
    text-align: right;
    padding: 10px 10px;
}

.books-content .book .footer-book > button {
    border-radius: 5px;
    background-color: #44a0ec;
    color: white;
}
